<!DOCTYPE html>
<html>
  <head>
    <title>Adoption App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= link_to 'Log in', new_pet_care_session_path %>
    <%= notice %>
    <%= yield %>
  </body>
</html>
